/*头部*/
.topBar
{
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
}
.topBar-width{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.topBar a:hover{
	color: red;
}

.collection
{
	background: url(../images/icon/collection.jpg) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
}

/*logoBar*/
.logoBar
{
	height: 88px;
	background-color: #fff;
}
.logoBar-width
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.logo
{
	padding-left: 5px;
	padding-top: 1px;
}

.search_box{width: 430px;padding-top: 23px;padding-left: 165px;}
/*.search_text{width: 350px;height: 14px;line-height:14px;padding: 11px 5px 10px;background-color: #fff;}*/
.search_text{border: 1px solid #ccc;width: 348px;height: 35px;line-height: 35px\9;/*css hack \9代表所有的ie浏览器*/padding: 0 5px;background-color: #fff;}
.search_btn{
	width: 70px;
	height: 37px;
	font-size: 14px;
	font-family: "微软雅黑";
	background-color: #778899;
	color: #fff;}

/*nav*/
.nav{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: #434343;
	border-top: 1px solid #fff;

}
.nav_mid
{
	width: 1000px;
	float: left;
	height: 38px;
}

.nav_mid_left{
	margin: 0 auto;
	width: 680px;
}

.nav_mid_left li{
	float: left;
	width: 100px;
	text-align: center;
	line-height: 38px;
	font-family: "微软雅黑";
	font-size: 17px;
}
.nav_mid_left a:link,.nav_mid_left a:visited
{
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
}
.nav_mid_left a:hover,.nav_mid_left a:active
{
	color: #000;
	font-size: 17px;
	font-family: "微软雅黑";
	background-color: #fff;
	width: 100px;
	height: 38px;
	display: inline-block;
	border-radius: 3px;
}

.ad
{
	margin: 0 auto;
	width: 1200px;
	height: 410px;
	overflow: hidden;
}


/*main*/
.main
{

	width: 1200px;
	margin: 5px auto;
	border: 1px solid #ccc;
}
.main_left
{

	width: 830px;
	float: left;
	margin: 10px 1px;
}
.main_right
{

	width: 320px;
	float: right;
	border: 1px solid #ccc;
	margin: 10px;
	border-radius: 3px;
}
.content
{
	height: 200px;
	width: 810px;
	border: 1px solid #ccc;
	margin: 5px;
	border-radius: 5px;
}
.content_pic
{
	height: 180px;
	width: 270px;
	float: left;
	margin-top: 8px;
	margin-left: 5px;
}
.content_main
{	
	width: 500px;
	height: 190px;
	float: right;
	margin-left: 5px;

}
.content_main h2
{
	margin: 10px auto;
	text-align: center;

}
.content_main p
{
	display: block;
	font-size: 15px;
	font-family: "微软雅黑";
	line-height: 18px;
	margin-top: 10px;
}

.pay_ad
{
	width: 300px;
	height: 280px;
	margin: 5px auto;
}
.pay_ad_pic1
{
	width: 290px;
	height: 130px;
	margin: 3px auto;

}
.most_download
{
	width: 300px;
	border: 1px solid #ccc;
	margin: 5px auto;
}
.most_download_top
{
	width: 300px;
	height: 35px;
	background-color: #434343;
	color: #fff;
	margin: 1px auto;
}
.most_download_top a
{
	line-height: 35px;
	padding-left: 10px;
	font-size: 14px;
	color: #fff;
}

.most_download_content li
{	
	line-height: 30px;
	padding-left: 10px;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
}
.most_download_content a:hover
{
	color: red;
}

.video
{
	width: 340px;
	height: 240px;
}

.tag li
{
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 1px 5px;
	background-color: #F5F5F5;
	float: left;
	margin: 8px;
}
.tag a
{
	color: #00C5CD;
	font-size: 14px;
}

.tag a:hover
{
	color: #fff;
	display: block;
}
.tag li:hover
{
	background-color: #CD2626;

}



.copyright
{
	width: 100%;
	height: 200px;
	background-color: #E8E8E8;
	margin-top: 10px;
	clear: both;
}

.copyright_content
{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

.copyright_content li
{
	list-style-type: none;
	float: left;
	width: 200px;
	background: url(../images/line.png)no-repeat right center;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
}

.copyright_content a
{
	text-decoration: none;
	color: #999;
	font-size: 18px;
}

.copyright_content li ul li a
{
	font-size: 14px;
}


.list_background
{
	width: 100%;
	background-color: #ccc;
	height: 1500px;
}
.list_main
{
	width: 1240px;
	margin: 5px auto;
}
.list_box
{
	width: 300px;
	height: 250px;
	background-color: #fff;
	float: left;
	margin: 30px 5px 0px;

}
.list_box img
{
	margin: 10px auto;
	display: block;
}
.list_box p
{
	display: block;
	height: 30px;
	width: 260px;
	margin: 1px auto;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
}
.list_box a:hover
{
	color: red;
}
.list_date
{
	font-size: 13px;
	padding-left: 20px;
}
.list_num
{
	font-size: 13px;
	padding-right: 20px;
}
.list_background p
{
	font-size: 14px;
}
.content_top
{
	width: 100%;
	height: 30px;
	background-color: #fff;
	border-radius: 5px 5px 0px 0px;
}
.content_title_left ,.content_title_right
{
	font-size: 13px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color: grey;
}
.content_main2 
{
	width: 100%;
	background-color: #fff;
}
.content_main2 img
{
	display: block;
	margin: 30px auto 10px;
}
.content_title
{
	width: 100%;
	height: 35px;
	text-align: center;
	border: 2px dotted #ccc;
}
.content_title p
{
	font-size: 16px;
	line-height: 35px;
}
.intro
{
	width: 650px;
	margin: 25px auto;
	font-size: 15px;
	line-height: 28px;
}
.intro p
{
	border-bottom: 1px solid #ccc;
}
.detail
{
	margin:10px auto;
	width: 600px;
	height: 100px;
	
}
.detail li
{
	width: 240px;
	float: left;
	padding-left: 30px;
	line-height: 30px;
}
.teach
{
	border-top: 1px solid #ccc;
	width: 790px;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
.xunlei
{
	width: 400px;
	height: 65px;
	background-color: #fff;
	border: 1px solid #ccc; 
	margin: 15px;
	margin-left: 30px;
}
.xunlei_left
{
	width: 0px;
	height: 59px;
	border: 3px solid #6CA6CD;
	float: left;
}
.xunlei_mid
{
	width: 100px;
	height: 65px;
	background-color: #EBEBEB;
	float: left;
}
.xunlei_mid p
{
	text-align: center;
	line-height: 65px;
	font-size: 16px;
}
.xunlei_mid p,.xunlei_right a
{
	color: #6CA6CD;
}
.xunlei_right
{
	width: 294px;
	float: left;
	line-height: 65px;
	font-size: 14px;
}
.xunlei_right img
{
	display: block;
	margin: 20px auto auto 30px;
	float: left;
}
.xunlei_mid p,.xunlei_right a
{
	color: #6CA6CD;
}
.discuss
{
	width: 790px;
}
.discuss h2
{
	padding-left: 20px;
}
.discuss_text
{
	width: 650px;
	height: 100px;
	border: 1px solid #ccc;
	margin: 5px auto;
	padding: 5px;
}
.enter
{
	width: 660px;
	height: 40px;
	margin: 5px auto;

}
.enter a
{
	font-size: 15px;
	color: #fff;
	display: block;
	background-color: #CD2626;
	padding: 5px 20px;
	float: right;
	line-height: 30px;
	border-radius: 5px;
}
.main_right1
{

	width: 320px;
	float: right;
	border: 1px solid #ccc;
	margin: 8px;
	border-radius: 3px;
	background-color: #fff;	
}